* {
   font-family: "Raleway",'Roboto','Courier New', Courier, monospace,san-serif;
}
body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
.center{
   background-color: #2E2F42;
   width: 900px;
   height: 350px;
   top:72px;
}
.title-one{
   color: #ffffff;
   text-align: center;
   font-family: "Roboto",sans-serif;
   font-size: 56px;
   line-height: 1.07;
  letter-spacing: 0.02;
  width: 896px;
  height: 220px;
  top: 860px;
  left: 472px;
}
.button-one{
   background: #4d5ae5;
   color:#ffffff;
   font-weight: 500;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
   width: 160px;
   height: 56px;
   top: 128px;
   left: 636px;
   padding: 20px;
   border: 20px;
   border:1px solid blueviolet;
}
.button-one:hover{
   color: #404bbf;
}
.button-one:hover:focus{
   color: #404bbf;
}
.button-one{
   cursor:pointer;
}
.sec2-title{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color:#2E2F42;

}

.title-two{
   text-align: center;
}
nav ul li {
   list-style-type:none;
}
.toptag:hover{
   color:#404bbf;
}
.toptag{
   color: #2E2F42;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 24px;
   width: 66px;
   height: 24px;
   }
   address{
      font-style: normal;
   }
address ul li{
   list-style-type: none;
}
address ul li a:hover{
   color: #404bbf;
}
address ul li a:hover:focus{
   color: #404bbf;
}
address ul li a{
color:#434455;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
width: 151px;
height: 24px;
}

section ul li{
list-style-type: none;
}
.our-team ul li{
   list-style-type: none;
}
footer{
   background-color: #2E2F42;
   text-align: left;
   color: #F4F4FD;
   width: 900px;
   height: 150px;
   }
.title-three{
text-align: center;
}
.foot-logo{
   color:#4d5ae5;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17px;
   width: 71px;
   height: 21px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   }

.footer-logo-two{
   color:#F4F4FD;
   text-transform: uppercase;
   line-height: 1.17px;
}
footer p{
   text-align: left;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #F4F4FD;
   line-height: 24px;
   letter-spacing: 0.02em;
}
.title-logo {
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.title-logo2 {
   color:#2E2F42;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
}
.sec2-text{
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   color:#434455;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.our-portfolio p{
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color:#434455;
}
.our-portfolio h2 {
   font-size: 36px;
   color: #2E2F42;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}
.portfolio-title{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.our-team{
   background-color: #F4F4FD;
   }
   .title-two{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #2E2F42;
}
.teamer{
   background-color:#ffffff;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.team-text{
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
